@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
.wave-text {
  background-image: linear-gradient(
    90deg,
    transparent 5%,
    #fbbf24 5%,
    #fbbf24 10%
  );
  background-size: 10px 3px;
}
.custom-green-icon {
  color: green;
}

/* display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}

.home h1 {
  font-family: Playfair Display, sans-serif;
  font-size: clamp(35px, 5vw, 80px);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.content {
  padding: 20px 10px;
  max-width: 700px;
  margin: 0 auto;
}

.content h2 {
  font-family: Playfair Display, sans-serif;
  font-size: clamp(45px, 3vw, 70px);
  padding: 30px 0 20px;
}
.content p {
  font-size: 26px;
} */

/* .s1 {
  background: rgb(243, 223, 192);
} */
/* .s2 {
  background: rgb(224, 241, 251);
}
.s3 {
  background: rgb(223, 253, 223);
}
.s4 {
  background: rgb(245, 213, 132);
}

.tooltip {
  background: #fff;
  width: 155px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}
.tooltip img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 1030px) {
  .content {
    padding: 20px 10px;
    max-width: 100%;
    margin: 0 110px;
  }
  .content p {
    font-size: 20px;
  }
  .tooltip {
    background: #fff;
    width: 100px;
    height: 100px;
  }
  .tooltip img {
    width: 40px;
    height: 40px;
  }
  .tooltip p {
    font-size: 14px;
  }
} */

/* Add this to your CSS */
.timeline {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #2d3748;
  border-radius: 50%;
  margin-right: 10px;
}

.line {
  width: 2px;
  height: 100%;
  background-color: #2d3748;
  margin: 0 8px;
}

.history {
  font-family: "MedievalSharp", cursive;
}

.history-text {
  font-family: "Lilita One", serif;
}

.his {
  font-family: "Romanesco", cursive;
  font-size: 2rem;
}

body.modal-open {
  overflow: hidden;
}

.bg-1 {
  background-image: url("../ressources/roman.jpg");
  background-size: cover;

  position: relative;
}

.bg-2 {
  background-image: url("../ressources/2932.jpg");
  background-size: cover;
  font-weight: 400;
  position: relative;
  font-size: 1.2rem;
}

/* .bg-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
} */

.bg-3 {
  background-image: url("../ressources/mideval.jpg");
  background-size: cover;
  position: relative;
}

.bg-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.bg-4 {
  background-image: url("../ressources/eighteen.jpg");
  background-size: cover;
  position: relative;
}

.bg-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-5 {
  background-image: url("../ressources/18thcentuerysvg.png");
  background-size: cover;
  position: relative;
}

.bg-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-6 {
  background-image: url("../ressources/1912.i305.017_18th 19th century old town victorian illustration.jpg");
  background-size: cover;
  position: relative;
}
.bg-7 {
  background-image: url("../ressources/bright-colorful-pop-landscape.jpg");
  background-size: cover;
  position: relative;
}
.bg-9 {
  background-image: url("../images/derbyPH.jpg");
  background-size: cover;
  position: relative;
}

.cta {
  font-family: Archivo Black;
}

.cover {
  background-size: cover;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

/* .p1,
.p2 {
  font-size: 1.2rem;
} */

/* Style for the modal */
